* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f3f4 ;
}

#eas-header {
  text-align: center;
  font-size: 72px;

  margin: 30px;
}

.main {
  display: flex;
  /* justify-content: center; */

}


.setting {
  width: 300px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: red; */
  margin-left: 18.5%;
}

button {
  width: 100px;
  height: 75px;
}

button:active {
  background-color: black;
  color: white;
}


/* When button is clicked */
.btnSpecial {
  background-color: black;
  color: white;
}




.grid-container {
  /* background-color: black; */
  width: 600px;
  height: 600px;
    
  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
}
  
/* .grid-div {
  background-color: red;
  width: 50px;
  height: 50px;
  border:1px solid white;
} */



#display-size {
  text-align: center;
  margin: 30px 0 15px;
}

.size-slider {
  width: 200px;
  margin: auto;
}

#size-slider {
  width: 200px;
}